@font-face {
    font-family: sajat-light;
    src: url(/css/fonts/wishper-script/Wishper-Script.ttf);
    font-weight: 300;
}

@font-face {
    font-family: sajat-bold;
    src: url(/css/fonts/wishper-script/Wishper-Script.ttf);
    font-weight: 700;
}
@font-face {
    font-family: sajat-normal;
    src: url(/css/fonts/wishper-script/Wishper-Script.ttf);
    font-weight: 500;
}